.country-scholarships-parentContainer{
    display: flex;
    flex-direction: column;
    width:100%;
    padding:10px;
}

.country-scholarships-Container{
    border:1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width:60%;
    margin:15px auto;
    padding:25px;
}

.country-scholarships-Container h2{
    font-family: 'Questrial', sans-serif;
    margin-bottom:10px;
}

.country-scholarships-Container p{
    margin-top:8px;
    font-family: 'Ruwudu', serif;
    font-size:1.2rem;
}

.country-scholarships-button{
    margin:25px auto;
    font-size:1.5rem;
    width:400px;
    height:70px;
    border-radius: 10px;
    border:none;
    background-color: #42bfbf;
    color:white;
    transition: 0.3s;
    padding: 15px 0px;
}

.country-scholarships-button:hover{
    background-color:#328888 ;
}

.scholarship-div{
    display: flex;
}

#scholarshipId{
    position:relative;
}

.scholarship-div i{
    position: relative;
    top:15px;
    right:8px;
    margin-right:10px;
}