
.appliedContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}

.not-applied{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-applied{
    margin-top:15px;
}

.not-applied p{
    margin-bottom:15px;
}

.appliedContainer h1{
    font-family: 'Titillium Web', sans-serif;
}

.deleteItem{
    display: flex;
    justify-content: center;
}